/* 
 * main css
 * Copyright 2012 connectlink.biz
 */

body {
	margin:0;
	padding:0;
	background: white url(../images/background.png) repeat;
}

ul li {
	list-style-type: none;
}
.important {
	font-weight: bold;
}
header.main {
	height: 48px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
	background-color: #232323;
	background: -webkit-gradient(linear, left top, left bottom, from(#232323), to(#2D2D2D));
	background: -moz-linear-gradient(top, #990, #066);
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}

.container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;	
}

header.main .logo {
	display: block;
	float: left;
	margin: 7px 0 0;
	padding: 10px;
	width: 131px;
	height: 36px;
	
	color: #EEE;
	font-weight: bold;
	font-size: 18px;
}
header.main .elements {
	float: right;
	
	font-size: 12px;
	color: white;
}

#home-top {
	margin-bottom: 35px;
	margin-top: 30px;
	
	overflow: hidden;
	margin: 40px auto 59px;
	width: 960px;
	padding: 0;
}

#home-top .frame {
	float: left;
	background-color: white;
	width: 537px;
	height: 330px;
	
	border: 1px solid #AAA;
}

#home-top .text {
	float: left;
	margin: 32px 0 0 20px;
	width: 470px;
	color: #555;
	
	font-size: 14px;
}

#home-top .right {
	margin-left: 570px;
	float: none;

	color: #555;
	font-size: 14px;
}

#home-faces {
	margin: 0;
	background: #E5E5E5;
	height: 215px;
	-moz-box-shadow: inset 2px 2px 1px rgba(0,0,0,0.18);
	-webkit-box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.18);
	box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.18);
	border-bottom: 1px solid #EAEAEA;
}

#home-faces-2nd {
	margin: 0;
	background: #EEEEEE;
	height: 215px;
	-moz-box-shadow: inset 2px 2px 1px rgba(0,0,0,0.18);
	-webkit-box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.18);
	box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.18);
	border-bottom: 1px solid #EAEAEA;
}

.title {
	font-size: 12px;
	font-weight: bold;
	color: #2D2D2D;
}

#faces {
	margin: 10px;
}
#faces-2nd {
	margin: 10px;
}

.faceimage {
	margin-right: 5px;
	margin-top: 5px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	
	-moz-box-shadow:    3px 3px 5px 3px #ccc;
	-webkit-box-shadow: 3px 3px 5px 3px #ccc;
	box-shadow:         3px 3px 5px 3px #ccc;
}

#home-active {
	padding: 45px 0;
	overflow: hidden;
}

#home-active h3 {
	margin: 0 0 15px;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
	color: #335688;
}

.person-list {
	margin: 0;
	padding: 0;
}

.person-list li {
	list-style-type: none;
	float: left;
	position: relative;
	overflow: hidden;
	margin: 0 20px 15px 0;
	width: 220px;
	height: 290px;
	background-color: white;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.person-list li .overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 102px;
	border-top: 1px solid rgba(0, 0, 0, 0.8);
	background-image: linear-gradient(top,rgba(0, 0, 0, 0.9) 0,rgba(0, 0, 0, 0.75) 100%);
	background-image: -o-linear-gradient(top,rgba(0, 0, 0, 0.9) 0,rgba(0, 0, 0, 0.75) 100%);
	background-image: -moz-linear-gradient(top,rgba(0, 0, 0, 0.9) 0,rgba(0, 0, 0, 0.75) 100%);
	background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.9) 0,rgba(0, 0, 0, 0.75) 100%);
	background-image: -ms-linear-gradient(top,rgba(0, 0, 0, 0.9) 0,rgba(0, 0, 0, 0.75) 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.0,rgba(0, 0, 0, 0.9)),color-stop(1,rgba(0, 0, 0, 0.75)));
}

footer.main {
	display: block;
	margin: 0 auto;
	padding: 30px 0 55px;
	color: white;
	text-align: left;

	background-color: #232323;
	background: -webkit-gradient(linear, left top, left bottom, from(#232323), to(#2D2D2D));
	background: -moz-linear-gradient(top, #990, #066);
}